{# Copyright 2016, Paul Powell, All rights reserved. #}
{% extends 'base.html' %}
{% block content %}
<h2 style="font-weight:bold">Introduction</h2>
<p>This program will generate a random NCAA bracket using a custom
simulation engine to calculate the winner of each game. The engine has
been tweaked according to both current year stats and historical tournament
results.</p>

<p>You can manually select the winner and/or runner up using
<a href={% url 'create-with-options' %}>the options page</a>.
Doin so will cause the web site to run simulations until a result that matches your
preferences is obtained.</p>

<h3 style="font-weight:bold;">Engine</h3>
The engine calculates winners based on seed, that is the higher seed has the
better chance of winning a particular game.  The higher seed's chance of
winning increases proportionally with the seed spread.  Using this engine the
number of upsets trends toward the 20 year average of 18 when running hundreds of
thousands of simulations.

<h4 style="font-weight:bold;">Fifty-Fifty Engine</h4>
An alternative engine can be selected on the <a href={% url 'create-with-options' %}>the options page</a> page.
This engine determines the winner of a given game using a coin flip.  This is obviously not realistic, the option
is provided to demonstrate the pluggable engine interface internal to the system.
</p>

<h3 style="font-weight:bold;">Madness</h3>
The engine can be tweaked using the 'madness' parameter on the
<a href={% url 'create-with-options' %}>the options page</a> page.
By default the madness variable is set to <b>one</b>.  As the madness
variable increases so does the tournament entropy. When adjusted up,
lower seed teams have an increasing chance of winning against a higher
seed.</p>

<p>The default madness level of <b>one</b> creates the average amount of
madness seen over the last 25 years.  Increasing the madness past 2
can create some truly crazy brackets! For example a madness level 3
starts to show a large number of 4,5,6 seeds in the final four, and
you can even see some 7+ seeds in the final four.  Historically, it is rare
to see 4+ seeds in the final four.</p>

<h3 style="font-weight:bold;">Power</h3>
Internal to the system a 'power' level is associated with each team. This
is adjusted each year according to the specific parameters of the teams
playing in the tournament.  For especially strong teams the power level
is adjusted up.  For high ranked weak teams, the power rating is adjusted
down.<p>

<p>The default power is zero. Examples of adjusting the power level up is
the undefeated 2015 Kentucky Wildcats which warrants a power level of five!</p>

<p>An example of adjusting the power level down is number one ranked 2016 Oregon
who although earned a number one ranking was particularly weak when compared to the
other number one teams.</p>

<p>The power level is tweaked for a particular year to resemble the rankings
at <a target="_blank" href="http://www.fivethirtyeight.com">www.fivethirtyeight.com</a>.</p>
{% endblock %}
