{# Copyright 2016, Paul Powell, All rights reserved. #}
{% extends 'base.html' %}
{% block content %}
<br>
<div class="btn-group">
    <a class="btn btn-primary" href="/tournament/generate" role="button">Create Bracket</a>
    <a class="btn btn-primary" href={% url 'create-with-options' %} role="button">Options</a>
    {% if is_full %}
    <a class="btn btn-primary" href={% url 'view-result' tourney.id %} role="button">Hide Full</a>
    {% else %}
    <a class="btn btn-primary" href={% url 'view-full-result' tourney.id %} role="button">Show Full</a>
    {% endif %}
</div>
<br>
<br>
<div class="panel panel-primary">
    <div class="panel-heading">Tournament Results ({{ tourney.year.year }})</div>
    <div class="panel-body">
    Number of Upsets: {{ tourney.upsets }} (Average: 18)<br>
    <h2>Champion: {{ tourney.winner.str_name_seed }}</h2>
    <p style="margin-left: 40px"><b>{{ tourney.winner.str_name_seed }}</b> vs {{ tourney.runnerup.str_name_seed}}</p>
    <h3>Final Four:</h3>
    <p style="margin-left: 40px"><b>{{ semi1.winner.str_name_seed }}</b> vs {{ semi1.loser.str_name_seed }}</p>
    <p style="margin-left: 40px"><b>{{ semi2.winner.str_name_seed }}</b> vs {{ semi2.loser.str_name_seed }}</p>
    </div>
</div>
{% block show_tourney %}
{% endblock %}
{% endblock %}
