{# Copyright 2016, Paul Powell, All rights reserved. #}
{% extends 'view_base.html' %}
{% block show_tourney %}
<table class="t_outer_table"> 
<tr>
{% with semi1_regions.0 as region %}
   {% with order as p_order %}
      <td>{% include "pp_round.html" %}</td>
   {% endwith %}
{% endwith %}
{% with semi1_regions.1 as region %}
   {% with r_order as p_order %}
      <td align="right">{% include "pp_round.html" %}</td>
   {% endwith %}
{% endwith %}
</tr>
<p style="page-break-after:always;"></p>
<tr>
{% with semi2_regions.0 as region %}
   {% with order as p_order %}
      <td>{% include "pp_round.html" %}</td>
   {% endwith %}
{% endwith %}
{% with semi2_regions.1 as region %}
   {% with r_order as p_order %}
      <td align="right">{% include "pp_round.html" %}</td>
   {% endwith %}
{% endwith %}
</tr>
</tr>
</table>
<br>
{% if not is_saved %}
    <a class="btn btn-primary" href={% url 'save-result' tourney.id %} role="button">Keep</a>
{% endif %}
<a class="btn btn-primary" href={% url 'view-result' tourney.id %} role="button">Hide Full</a>
{% endblock %}
