{# Copyright 2016, Paul Powell, All rights reserved. #}
{% extends 'view_base.html' %}
{% block show_tourney %}
<div class="panel panel-info">
    <div class="panel-heading">Region Results</div>
    <div class="panel-body">
    {% for region in tourney.region_set.all %}
       <big><strong>{{ region.name|capfirst }}: </strong></big>{{ region.loser.str_name_seed}} vs <b>{{ region.winner.str_name_seed}}</b><br>
    {% endfor %}
    </div>
    </div>
<br>
{% if not is_saved %}
   <a class="btn btn-primary" href={% url 'save-result' tourney.id %} role="button">Keep</a>
{% endif %}
<a class="btn btn-primary" href={% url 'view-full-result' tourney.id %} role="button">Show Full</a>
<a class="btn btn-primary" href={% url 'print-bracket' tourney.id %} role="button">Print</a>
{% endblock %}
